/* regole di base  */

body{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

img {
    max-width: 100%;
}

/* container  */

.container-xxl{
    height: 100vh;
    width: 100%;
    background-color: #d5dbd8;
    padding: 20px 0px;
    min-width: 1000px;
}

.container-xl{
    height: 100%;
    width: 85%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    border:1px solid #ecedeb;
}
.container-col-30{
    padding: 10px;
}
.container-user{
    height: 100%;
    flex-grow: 1;
    overflow-y: scroll;
    background-color: white;
}
.top-desktop-green{
    width: 100%;
    height: 150px;
    background-color: #009688;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.col-left{
    width: 30%;
    border-right: 1px solid #d5d5d5;
    display: flex;
    flex-direction: column;
}

.col-right{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* colonne container centrale  */
.profile-user{
    padding: 10px 20px 10px 10px;
}
.img-user img{
    height: 50px;
    border-radius: 50%;
    padding-right: 5px;
}

.icon{
    gap: 15px;
}

.notific{
    padding: 15px 10px;
    gap: 10px;
    font-size: 14px;
}
.notific .grey-icon{
    text-decoration: underline;
    
}

.bell{
    background-color: #f2fbff;
    border-radius: 50%;
    font-size:25px ;
    color:#8edafc ;
    padding: 10px;
}


.search-bar{
    padding: 7px;
    background-color: #fafafa;
}

.search-bar .search{
    width: 100%;
}

.search span{
    background-color: white;
    border: 1px solid #f5f5f5;
    width: 20%;
    padding: 10px;
    cursor: pointer;
}
.search input {
    color: black;
    font-family: inherit;
    font-size: 14px;
    width: 80%;
    padding: 0px 10px;
    border: 1px solid #f5f5f5;
}

/* user contain */
.single-user{
    padding: 10px;
    background-color: white;
    border-top: 1px solid #f6f6f6;
}
.single-user .img-user img{
    height: 60px;
}

.user-name{
    padding-bottom: 7px;
}

/* col 60  */
.container-message{
    flex-grow: 2;
    overflow-y: scroll;
    background-image: url("../img/mine.jpg");
    padding: 55px 80px;
}
.box-message{
    height: fit-content;
    width: 100%;
}
.message-box{
    width: fit-content;
    height: fit-content;
    min-width: 40%;
    border-radius: 5px;
    padding: 10px 5px 5px 10px;
}



.message-box.received{
    background-color: white;
    margin-right: auto;
    margin-bottom: 10px;

}
.clock-message{
    margin-top: 4px;
    text-align: right;
}
.message-box.sent{
    background-color: #d5f9ba;
    margin-left: auto;
    margin-bottom: 10px;
}


/* input col right  */
.container-user-message i{
    color: #6b7376;
    font-size: 22px;
}
.container-user-message {
    height: 70px;
    padding: 10px 25px;
    background-color: #f3eeea;
    gap: 25px;
}
.message,
.message input{
    width: 100%;
}

.message input{
    font-family: inherit;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 16px;
}
/* classe d-flex utiliti*/

.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

/* colori  */

.bg-grey{
    background-color: #eaeaea;
}

.grey-icon{
    color: #b1b1b1;
}

.bg-sky{
    background-color: #8edafc;
}

/* tipografy  */
.small-text{
    color: #c1c1c7;
    font-size: 10px;
}

.active{
    background-color: #e9ebeb;
}